.header-contents {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  display:flex;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.main-contents {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding:10px;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
  background: rgba(245, 245, 245, 0.97);
}

li {
  list-style: none;
  margin-bottom:10px;
}
/*
a {
  display:block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}
*/
a {
  text-decoration: none;
  color: dimgray;
  margin: 20px 0px 0px 35px;
}

.errorMessages {
    	margin-top: 10px;
    	margin-right: 10px;
    	margin-bottom: 10px;
    	margin-left: 10px;
    	color: #ff3366;
    	font-weight: bold;
}


/*ユーザー一覧画面*/

.userManage{
  width: 1000px;
  text-align: center;
  border-spacing: 0;
  margin: auto;
}
.userManage th{
  border-bottom: 2px solid;
}
.userManage td{
  border-bottom: 1px solid;
}
.userSearch {
  text-align: center;
}
.userFormLabel label{
  display: inline-block;
  width: 150px;
  text-align: right;
}
.userFormLabel .buttom{
  margin: 20px 0px 20px 150px;
}
.authority{
  background: #FFB6C1;
}

/* table全体に適用する背景色*/
.applicationList {
  border-collapse: collapse;
  width:100%;
  table-layout: auto;
  overflow-x: auto;
}

/* thの背景色*/
.applicationList th {
  color: #fff;
  background: #333333;
}
/* 奇数行のtd要素 */
.applicationList tbody tr:nth-child(odd) td {
  background: #fff;
}
/*申請承認画面の戻るボタン*/
.back-application {
    position: absolute;
    top: 10px;
    right: 10px;


