<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更画面</title>
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/main.js}" charset="utf-8"></script>
</head>
</head>
<body>
    <div class="errorMessages" th:each="error : ${errors}" th:if="${errors != null}">
      <span th:text="${error}"></span>
    </div>
    <div class="main-contents">
      <form th:action="@{/changePasswordProcess}" th:method="put" th:object="${password}">
        新しいパスワード
        <input type="password" th:field="*{password}"/> <br/>
        新しいパスワード確認用
        <input type="password" th:field="*{anotherPassword}"/> <br/>
        <input type="submit" value="更新">
      </form>
      <a href="/nirmal/">
        <button type="button">戻る</button>
      </a>
    </div>
</body>
</html>