<!DOCTYPE html>
  <html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
      <meta charset="UTF-8">
      <link th:href="@{/css/style.css}" rel="styleSheet">
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      <script th:src="@{/js/main.js}" charset="utf-8"></script>
      <title>勤怠管理</title>
    </head>
    <body>
      <div class="header-contents">
        <h1>勤怠管理画面</h1>
        <ul class ="button">
          <li><a class="head-button" th:href="@{/userManage}">ユーザー管理</a></li>
          <li><a class="head-button"  th:href="@{/application}">申請承認</a></li>
          <li><a class="head-button"  th:href="@{/changePassword}">パスワード変更</a></li>
        </ul>
      </div>
      <div class = "sub-contents">
        <div class="errorMessages">
          <ul>
            <li th:each="error : ${errors}">
              <span th:text="${error}">Error message</span>
            </li>
          </ul>
        </div>
        <div class = "selected">
          <form th:action ="@{/nirmal/}"  method="get">
            年：
            <select>
              <option th:each="year : ${MapYear}"
                      th:value="${year.key}"
                      th:text="${year.value}">
              </option>
            </select>
          月：
            <select>
              <option th:each="month : ${MapMonth}"
                      th:value="${month.key}"
                      th:text="${month.value}">
              </option>
            </select>
            日付:
            <input type="date" name="start" th:value="${start}">～<input type="date" name="end" th:value="${end}">
            <input type="submit" value="絞込">
          </form>
        </div>
      </div>
      <div class="main-contents">

        <thead class = "work-tag">
          <tr class ="tag-list">
            <th class ="account"></th>
            <th class ="user-name"></th>
            <th class ="branch"></th>
            <th class ="department"></th>
            <th class ="status"></th>
          </tr>
        </thead>
      <!--社員一覧-->
        <div class="work-icon"  th:each="work : ${workData}">
          <ul class="work-list">
            <li class ="Date" th:text="*{work.date + work.dayofweek}" ></li>
            <li class ="workStart">
              <input type="text" th:value="${work.workStart}" disabled>
            </li>
            <li class ="workEnd">
              <input type="text" th:value="${work.workEnd}" disabled>
            </li>
            <li class ="breakStart" >
              <input type="text" th:value="${work.breakStart}" disabled>
            </li>
            <li class ="breakEnd" >
              <input type="text" th:value="${work.breakEnd}" disabled>
            </li>
          </ul>
        </div>
      </div>
      <!--jQuery-->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="/js/main.js"></script>
      </body>
</html>