<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザー管理</title>
</head>
<body>
<div class="header-contents">
    <h1>ユーザー管理</h1>
</div>
<div class="main-contents">
    <div class="errorMessages">
        <li  th:each="error : ${errors}" th:text="${error}"></li>
    </div>

    <form action="/nirmal/">
        <input type="submit" value="戻る" />
    </form><br>
    <form action="/signUp">
        <input type="submit" value="新規登録" />
    </form><br>
    <!--ユーザー絞込み-->
    <div class="userSearch">
        <form th:action="@{/userManage}" method="get">
            氏名：<input  name ="name" type = "text" th:value ="${name}"/>　/　
            システム管理者権限：
            <input type="radio" name="systemId" value="1" th:checked="${systemId == 1}" onclick="radioDeselection(this, 1)">あり
            <input type="radio" name="systemId" value="0" th:checked="${systemId == 0}" onclick="radioDeselection(this, 2)">なし　/　
            承認者権限：
            <input type="radio" name="approverId" value="1" th:checked="${approverId == 1}" onclick="radioDeselection(this, 3)">あり
            <input type="radio" name="approverId" value="0" th:checked="${approverId == 0}" onclick="radioDeselection(this, 4)">なし　　
            <input type="submit" value="絞込">
        </form>
    </div><br>
    <!-- 登録ユーザー一覧 -->
    <table class="userManage">
        <thead>
        <tr>
            <th>氏名</th>
            <th>アカウント</th>
            <th>システム管理者権限</th>
            <th>承認者権限</th>
            <th>稼働・停止</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.account}"></td>
            <!--権限ありなし表示-->
            <td>
                <span th:text="${user.systemId == 0 ? 'なし' : 'あり'}"
                      th:class="${user.systemId == 0 ? '' : 'authority'}"></span>
            </td>
            <td>
                <span th:text="${user.approverId == 0 ? 'なし' : 'あり'}"
                      th:class="${user.approverId == 0 ? '' : 'authority'}"></span>
            </td>
            <!--稼働・停止変更-->
            <td>
                <div th:if="${loginUser.getId() != user.id}">
                    <form th:action="@{/updateIsStopped/{id}(id=${user.id})}" th:method="put">
                        <input type="radio" name="isStopped" th:checked="${user.isStopped == 0}" value="0">稼働
                        <input type="radio" name="isStopped" th:checked="${user.isStopped == 1}" value="1">停止
                        <input type="submit" value="変更" class="updateIsStopped">
                    </form>
                </div>
                <!--ログインユーザー自身の稼働・停止は表示のみ-->
                <div th:unless="${loginUser.getId() != user.id}">
                    <span th:text="${user.isStopped == 0 ? '稼働中' : '停止中'}"></span>
                </div>
            </td>
            <td>
                <a th:href="@{/userEdit/{id}(id=${user.id})}">
                    <input type="button" value="編集">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
